body {
    background-color: darkolivegreen;
    max-width: 400px;
    margin: 0 auto;
}

.btn {
    background: #ffe600;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 40px;
    cursor: pointer;

}

.btn:hover  {
    
    background-color: orangered;
}
.btn:active{
    box-shadow: 5px 5px 10px #222222;
    
}

.text {
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;

}

.text:hover {
    text-shadow: 8px 3px 10px rgb(109, 2, 180);
}